<% content_for :meta do %>
	<meta property="og:title" content="Grassroots Policy" />
	<meta property="og:site_name" content="Grassroots Policy"/>
	<meta property="fb:admins" content="robert.recalde"/>
	<meta property="og:description" content="Add your voice to our democracy."/>
<% end %>

<div id="grass-body">
	<div id="tabs">
		<ul id="tabs_ul">
		<li><a href="/ideas?category_type=top&layout=raw">Top Ideas</a></li>
		<li><a href="/ideas?category_type=new&layout=raw">New Ideas</a></li>
	    <% @categories.each do |category| %>
	        <li><a href="/ideas?category_id=<%= category.id %>&layout=raw"><%= category.name %></a></li>
	    <% end %>
		</ul>
		</div>
	</div>
</div>  

<script id="newIdeaDialogTemplate" type="text/x-jquery-tmpl">
<div>
	<div class="dialog-input">
		Subject:<br/>
		<input id="new_idea_subject" type="text" /> 
	</div>
	<div class="dialog-input">
		Description:<br/>
		<textarea id="new_idea_description" cols="50" rows="5"></textarea>
	</div>
	{{if category_id}}
		<input id="new_idea_category_id" type="hidden" value="${category_id}" />
	{{else}}
		<div class="dialog-input">
		Category:<br/>
		<select id="new_idea_category_id" class="ui-widget ui-corner-all">
		{{each categories}}
			<option value="${id}">${name}</option>
		{{/each}}
		</select>
		</div>
	{{/if}}
</div>
</script>

<script>
	
	$(function () { 

		<% if user_signed_in? %>
		
		$('.vote-yea').live('click', function() {
			var tmplItem = $(this).tmplItem();
			vote(tmplItem.data.id, 'yae', function(data) {
				tmplItem.data.vote_tally = data.vote_tally;
				tmplItem.update();
			});
		});
		
		$('.vote-nay').live('click', function(){
			var tmplItem = $(this).tmplItem();
			vote(tmplItem.data.id, 'nay', function(data) {
				tmplItem.data.vote_tally = data.vote_tally;
				tmplItem.update();
			});
		});

		$('.new-idea').live('click', function(){
			var category = $(this).attr('category_id');
			new_idea(category);
			return false;
		});
		
		<% else %>
		$('.vote-yea').live('click', login_dialog);
		$('.vote-nay').live('click', login_dialog);
		$('.new-idea').live('click', login_dialog);
		<% end %>
		
		$('#tabs').tabs({
			panelTemplate: '<div class="grassroots-tab-panel"></div>',
			idPrefix: 'grassroots-tab-',
			load: function(event, ui) {
				var ideas = $(ui.panel).find('.idea');
				linkify(ideas);
				$(ui.panel).find('.new-idea').button();
				
			}	
		});
		
		$('#tabs_ul').wrap('<div class="tabs-scroller" />');
		
		loadCategories();
		
	});
	
</script>