<div id="grass-body">
</div>  

<script id="topicsTemplate" type="text/x-jquery-tmpl">
<div id="tabs">
	<ul>
    {{each topics}}
        <li><a href="#category-${id}">${name}</a></li>
    {{/each}}
	</ul>
	{{each topics}}
	    <div id="category-${id}"></div>
	{{/each}}
</div>
</script>

<script id="ideaTemplate" type="text/x-jquery-tmpl">
<div class="idea ui-corner-all">
	<div class="idea-vote ui-corner-all">
		<div class="vote-count">${vote_tally}</div>
		<div class="vote-yea">Yea</div>
		<div class="vote-nae">Nae</div>
	</div>
	<div class="idea-body">
		<div class="idea-subject">
			<a href="/ideas/${id}">${subject}</a>
		</div>
		<div class="idea-text">
			${description}
		</div>
		<div class="idea-user">
			Posted by ${user_alias} (${created_at})
		</div>
	</div>
</div>
</script>

<script id="ideaDialogTemplate" type="text/x-jquery-tmpl">
<div class="idea-vote ui-corner-all">
	<div class="vote-count">${vote_tally}</div>
	<div class="vote-yea">Yea</div>
	<div class="vote-nae">Nae</div>
</div>
<div class="idea-body">
	<div class="idea-text">
		${description}
	</div>
	<div class="idea-user">
		Posted by ${user_alias} (${created_at})
	</div>
</div>
</script>

<script id="newIdeaDialogTemplate" type="text/x-jquery-tmpl">
<div>
	<div class="dialog-input">
		Subject:<br/>
		<input id="new_idea_subject" type="text" /> 
	</div>
	<div class="dialog-input">
		Description:<br/>
		<input id="new_idea_description" type="text" /> 
	</div>
	<input id="new_idea_category_id" type="hidden" value="${category_id}" />
</div>
</script>

<script>
	
	$(function () { 

		<% if user_signed_in? %>
		$('.vote-yea').live('click', function() {
			
			var tmplItem = $(this).tmplItem();
			vote(tmplItem.data.id, 'yae', function() {
				tmplItem.data.vote_tally++;
				tmplItem.update();
			});
		});
		
		$('.vote-nae').live('click', function(){
			var tmplItem = $(this).tmplItem();
			vote(tmplItem.data.id, 'nae', function() {
				tmplItem.data.vote_tally--;
				tmplItem.update();
			});
		});

		$('.new-idea').live('click', function() {
			var category = $(this).attr('category_id');
			var data = { category_id: category };
		
			var newIdeaDiv = $('<div></div>');
			newIdeaDiv.attr('title', 'New Idea');
			
			var renderDialog = $('#newIdeaDialogTemplate').tmpl(data);
			renderDialog.appendTo(newIdeaDiv);
			newIdeaDiv.dialog({
				width:600,
				height:250,
				buttons: {
					"Create": function() {
						var data = { 
							new_idea_subject: $('#new_idea_subject').val(), 
							new_idea_description: $('#new_idea_description').val(), 
							new_idea_category_id: $('#new_idea_category_id').val()
						};
						
						$(this).dialog("close");
						$(this).remove();
						
						$.ajax({
							url: '/new_idea',
							dataType: 'json',
							data: data,
							success: function() {
								renderIdeas(category);
							}
						});
						
						
						
					},
					Cancel: function() {
						
						$(this).dialog( "close" );
						$(this).remove();
					}
				}
			});
		});
		<% else %>
		$('.vote-yea').live('click', login_dialog);
		$('.vote-nae').live('click', login_dialog);
		$('.new-idea').live('click', login_dialog);
		<% end %>

/*
		$('.idea-subject').live('click', function() {
			var idea = $(this).tmplItem().data;
			var dialogDiv = $('<div></div>');
			dialogDiv.attr('title', idea.subject);
			var renderDialog = $('#ideaDialogTemplate').tmpl(idea);
			renderDialog.appendTo(dialogDiv);
			dialogDiv.dialog({ 
				width:600, 
				height:250
			});
		});
*/

		renderTopics();
		
	});
	
	function login_dialog(){
		var dialogDiv = $('<div></div>');
		dialogDiv.attr('title', 'You are not logged in.');
		dialogDiv.html('Please login or register to continue.');
		dialogDiv.dialog({ 
			width:400, 
			height:200,
			buttons: {
				"Ok": function() {
					$( this ).dialog( "close" );
				}
			}
		});
	}
	
	function vote(vote_id, vote, success) {
		var voteData = { idea_id: vote_id, vote: vote };
		
		$.ajax({
			url: '/vote',
			dataType: 'json',
			data: voteData,
			success: success
		});
	}
	
	function renderTopics() {
		$.ajax({
			url: '/categories',
			dataType: 'json',
			success: function(data) {
				var topics = { topics: data };
				var renderTopics = $('#topicsTemplate').tmpl(topics);
				$('#grass-body').empty();
				renderTopics.appendTo('#grass-body');
				$('#tabs').tabs();
				
				$(data).each(function(){
					var category_id = this.id;
					renderIdeas(category_id);	
				})
				
			}
		});
	}
	
	function renderIdeas(category_id) {
		var category_filter = { category_id: category_id };
		$.ajax({
			url: '/ideas',
			dataType: 'json',
			data: category_filter,
			success: function(data) {
				var render = $('#ideaTemplate').tmpl(data);
				var category_div = $('#category-' + category_id);
				category_div.empty();
				render.appendTo(category_div);
				
				var new_button = $('<button class="new-idea">New Idea</button>');
				new_button.appendTo(category_div);
				new_button.attr('category_id', category_id);
			}
		});
	}
	
</script>