body {
	padding:5px;
	background-color:#E5E5E5;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
}
#grass-header {
	padding:5px;
	background-color:#006000;/*#404040;*/
	color:white;
	cursor:pointer;
}
#grass-header-text {
	padding:4px;
	font-size:28px;
}
#grass-header-menu {
	float:right;
	padding: 4px;
}
#grass-header-menu a {
	color:white;	
}
.grass-body {
	padding: 4px;
	background-color:white;
}
.tabs-scroller {
	height: 46px;
	width: 100%;
	overflow: hidden;
}
.topic {
}
.idea {
	background-color:#E5E5E5;
	color:white;
	margin-bottom: 8px;
	clear:both;
	padding:4px;
}
.idea-vote {
	float:left;
	background-color:white;
	text-align:center;
	color:white;
	float:left;
	padding: 4px 8px 4px 8px;
	margin: 4px;
}
.vote-count {
	text-align:center;
	color:black;
}
.vote-yea {
	text-align:center;
	color:green;
	font-size:12px;
	cursor:pointer;
}
.vote-yea:hover {
	text-decoration:underline;
}
.vote-nay {
	text-align:center;
	color:red;
	font-size:12px;
	cursor:pointer;
}
.vote-nay:hover {
	text-decoration:underline;
}
.user-yae {
	color:green;
}
.user-nay {
	color:red;
}
.idea-body {
	padding-left:4px;
	color:black;
}
.idea-subject {
	cursor:hand;
}
.idea-text {
	font-size:12px;
}
.idea-user {
	font-size:12px;
	color:#404040;
}
.idea-clear {
	height:0px;
	clear:both;
}
.dialog_input {
	font-size:18px;
	color:black;
}

.comment-children {
	margin-left: 15px;
	margin-bottom: 15px;
}
.comment {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	padding: 0px 4px 0px 4px;
}
.comment-user {
	font-size: 11px;
}
.comment-body {
	font-size: 13px;
	cursor:pointer;
	margin-bottom: 8px;
}
.comment-body:hover {
	text-decoration:underline;
}